- var size = '<sup>2</sup>';

.prices.flex-col.w-100.center
    span.title Цены
    table.prices__table.w-80
        caption Наши цены на основные виды услуг
        tr.tr__title
            th Наименование работ
            th Цены
        tr
            th.th_title Штукатурка
            th от 10 р. за 1 м!{size}
        tr
            th.th_title Штукатурка
            th от 10 р. за 1 м!{size}
        tr
            th.th_title Штукатурка
            th от 10 р. за 1 м!{size}
        tr
            th.th_title Штукатурка
            th от 10 р. за 1 м!{size}
        tr
            th.th_title Штукатурка
            th от 10 р. за 1 м!{size}

